/alpahabet.class
/alphabetSmall.class
/alphabetTriangle.class
/numberPattern.class
/numberPattern2.class
/square.class
/square2.class
/starTriangle.class
/charNumTriangle.class
/chartriangle.class
/numtraingle2.class
/numTriangle.class
/revTriangle.class
/triangle1.class
/triangle2.class